<div class="content-container">
  <div class="container">
    <nav>
      <a href="/" class="logo">
        <img src="/images/logos/white_logo.svg" alt="Home">
      </a>
    </nav>

    <section class="about-page__bio">    
      <h1>About Felipe</h1>
      <img src="/images/Felipe.png" class="about-page__photo">

      
      <p>My name is Felipe Seré and you have just landed on my site! On this site I publish pictures that were 
  taken during most of my vacations or places I have been to. Such places include Kenya, Uruguay,
  Germany, Portugal and the Netherlands. I picked up photography while living in Kenya with my parents 
  about twelve years ago. Over the years I have learned to use both my beloved 70-200mm tele and my trusty 
  10-22mm wide angle lens. My current challenge is to use a 50mm fixed-lens more and more.
   
  The style of image I am aiming at is colourful and cheerful. I like to either pick out minute details or 
  show large landscapes.</p>

    </section>

    <section class="about-page__social-media">
      <h3>Connect with me!</h3>  
      <a href="http://github.com/felipesere">
        <img src="/images/icons/github_grey.png"/>
      </a>
      <a href="http://twitter.com/felipesere">
        <img src="/images/icons/twitter_grey.png"/>
      </a>
      <a href="http://fesere.de">
        <img src="/images/icons/photo_icon_grey.png"/>
      </a>
      <a href="http://www.rssfeed.com">
        <img src="/images/icons/rssfeed_grey.png"/>
      </a>
    </section>

    <section class="photo-gallery">
      <img src="/images/gallery/bridge.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/giraffes.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/madeira.jpg" class="column large-4 medium-6" />
      <img src="/images/gallery/spring.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/stpancreas.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/waves.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/dahlia.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/stroll.jpg" class="column large-4 medium-6"/>
      <img src="/images/gallery/broadway-market.jpg" class="column large-4 medium-6"/>    
    </section>
  </div>
</div> 