<header class="hero">
  <nav>
    <a href="/" class="logo">
      <img src="/images/logos/white_logo.svg" alt="Home">
    </a>
  </nav> 

  <h1>Code Paradoxan</h1>
  <h2>Musings on Code</h2>  
</header>

<div class="content-container">
  <div class="container">
    <ul>
      <% 6.times do %>
        <li class="article">
          <h3 class="article__title"><a href="/post">Felipe's First Post</a></h3>
          <a href="/about"><span class="article__author">Felipe</span></a>
          &mdash;
          <span class="article__date">March 14, 2015</span>
          <div class="article__body">
            <p>As part of my apprenticeship I have to learn a functional language. The functional language of choice here is Clojure. Its a LISP dialect that runs on the JVM. As my background is very heavy on the Java side, some things in Clojure just wouldn’t sit very well. Here are things did not enjoy in my first tour through Clojure.</p>
          </div>
          <div class="article__links">
            <a href="/post">Read More...</a>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="bottom-navigation">
      <a href="#" class="right">Older Posts →</a>
    </div>
  </div>
</div>

<%= partial("partials/footer") %>
